/*
this content is stored in a file named "site.css"
in a directory named "css" in the web root
*/

/*all are style definitions and they follow the following pattern

selector {
	property 1: value1;
	property 2: value;
	}

*/

h2 {	/*element selector*/
	color: #FF0000;
	text-decoration: underline;
}

main {
	background-color: ivory;
	font-family: Arial, Monospace;
	font-style: italic;
	font-size: 24px;
}

#wrapper1, #wrapper2 {
	background-image: url(http://codeup.dev/img/back.png); 
	width: 1000	px;
}

.lone {
	list-style: circle;
}

.ltwo {
	list-style: url(http://codeup.dev/img/bullet.png);
}

.table1 {
	font-size: 12px;
}

a:link {
	color:blue;
}

a:visited {
	color:lime;
}

a:hover {
	color:purple;
}

a:active {
	color:bold;
}

/*
.fancy-header, .unfancy-header { /*class selector, target multiple elements
    color: purple;
    text-decoration: underline;
}*/

/*body
{
	background-color: papayawhip;
	max-width: 750px;
}*/
/*

#main-header { /*id selector, target one element
	color: blue;
}

.extra-large { /*class selector
	font-size: 18px;
}

#container {
	background-color: white;
}

#container h1 {	/*h1 descendents of div container, descendent selector
	color: BurlyWood;
}	

#container>h1 {
	font-size: 1em;
}*/