body {
	background-color: #9CF;
}

h1, h3, th, td {
	text-align: center;	
}

#map-canvas {
    width: 770px;
    height: 481px;
    margin: auto;
}   

form
{
	/*margin: auto;*/
	margin-left: auto;
	margin-right: auto;
}